*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.skill{
    height: 100vh;
    width: 100%;
    background-image: url(4.jpg);
    background-position: center;
    background-size: cover;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    color:aqua;
    font-size: 30px;
    letter-spacing: 2px;
    cursor: pointer;
}
span{
    color: darkblue;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
.btn{
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 50px;
    transition:.4s;

}
.btn:hover{
    transform: scale(1.1);
}
